.list-property-button {
  font-weight: 600;
  font-family: Inter;
  background-color: white;
  border: 1px;
  border-radius: 5px;
  border-color: #072AC8;
  border-style: solid;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 11px 30px;
  cursor: pointer;
}

.btn-outline {
  font-weight: 600;
  font-family: Inter;
  background-color: white;
  border: 1px;
  border-radius: 5px;
  border-color: #072AC8;
  border-style: solid;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 11px 30px;
  cursor: pointer;
}

.btn-primary {
  font-weight: 600;
  font-family: Inter;
  background-color: #072AC8;
  border-style: solid;
  border-color: #072AC8;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 6px 28px;
  cursor: pointer;
}

.signup-button {
  font-weight: 600;
  font-family: Inter;
  background-color: #072AC8;
  border-style: solid;
  border-color: #072AC8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 6px 28px;
  cursor: pointer;

}

.search-location-button {
  background-color: #072AC8;
  color: white;
  font-weight: 600;
  font-family: Inter;
  border-style: solid;
  border-color: #072AC8;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 180px;
  padding: 11px 35px;
  display: flex;
  position: absolute;
  margin-right:  100px;
  margin-top: 25px;
  cursor: pointer;
}

.unlock-button {
  font-weight: 600;
  font-family: Inter;
  background-color: #072AC8;
  border-style: solid;
  border-color: #072AC8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 500px;
  padding: 10px 55px;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

.list-property-button2 {
  font-weight: 600;
  font-family: Inter;
  background-color: white;
  border: 1px;
  border-radius: 5px;
  border-color: #072AC8;
  border-style: solid;
  font-weight: bold;
  font-size: 16px;
  margin: 6.25em 0 6.25em 53.75em;
  padding: 11px 35px;
  cursor: pointer;
}

@media (max-width: 752px) {
  .list-property-button2 {
    margin-left: 6.25em ;
  }
  }
