.list-property-button {
  font-weight: 600;
  font-family: Inter;
  background-color: white;
  border: 1px;
  border-radius: 5px;
  border-color: #072AC8;
  border-style: solid;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 11px 35px;
}

.signup-button {
  font-weight: 600;
  font-family: Inter;
  background-color: #072AC8;
  border-style: solid;
  border-color: #072AC8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  padding: 6px 28px;

}

.search-location-button {
  background-color: #072AC8;
  color: white;
  font-weight: 600;
  font-family: Inter;
  border-style: solid;
  border-color: #072AC8;
  border-radius: 5px;
  font-size: 15px;
  margin-left: 180px;
  padding: 11px 35px;
  display: flex;
  position: absolute;
  margin-right:  100px;
  margin-top: 25px;
}

.unlock-button {
  font-weight: 600;
  font-family: Inter;
  background-color: #072AC8;
  border-style: solid;
  border-color: #072AC8;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 500px;
  padding: 10px 55px;
  color: #fff;
  display: inline-block;
}

.list-property-button2 {
  font-weight: 600;
  font-family: Inter;
  background-color: white;
  border: 1px;
  border-radius: 5px;
  border-color: #072AC8;
  border-style: solid;
  font-weight: bold;
  font-size: 15px;
  margin: 100px 0 100px 860px;
  padding: 11px 35px;
}
