body {
  font-size: 16px;
  margin: 0;
  background-color: #F2F2F2;
}

.header {
  padding-top: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  height: 50px;
  font-weight: bold;
  font-family: Arial ;
   align-items: center;
   padding-right: 100px;
}

.cover-img {
  display: flex;
  position: relative;
 
}

.new-div {
  display: flex;
  align-items: center;
  width: auto;
}

.cover-image {
  display: flex;
  margin: 0;
}


.one {
 flex: 1;
 margin-top: 15px;
 margin-left: 100px;
 margin-bottom: 20px;
 cursor: pointer;
}

.two {
 color: #072AC8;
  
}

.three, .four, .five {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.six {
 color: white;
  margin: 6px 20px;
}

.together {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.discover-text {
  font-family: Abel, Arial;
  font-size: 3vw;
  margin-left: 150px;
  margin-bottom: 300px;
  display: flex;
  position: absolute;
  cursor: pointer;
  text-wrap: auto;
}

.search-bar {
  margin-bottom: 100px;
  margin-left: 170px;
  border-radius: 8px;
  border: 1px solid gray ;
  font-family: Inter;
  padding: 1em 13em 1em 2em;
  display: flex;
  position: absolute;
  
}

.featured-locations {
  font-family: Abel;
  font-size: 32px;
  margin-left: 3.43em;
  margin-top: 9em;
  margin-bottom: 1.56em;
}
.see-all {
  margin-top: 19em;
  margin-right: 11em;
  font-family: inter, Arial;
  font-size: 16px;
  color: #1E96FC;
  cursor: pointer;
}

.featured-see {
  display: flex;
  justify-content: space-between;
  margin-right: 6em;
  flex: 1;
}

.hotel-name {
  font-family: inter, Arial;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.location {
  font-family: inter, Arial;
  font-size: 10px;
  color:#828282;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 8px;
}

.Price {
  font-family: inter, Arial;
  color: #828282;
  font-weight: 400;
  font-size: 10px;
  margin-top: 0;
  margin-left: 8px;
}

.price70 {
  font-weight: bold;
  color: #4F4F4F;
}

.second-image-section {
  margin-left: 6.8em;
  display: grid;
}

@media (min-width: 751px) {
  .second-image-section {
    grid-template-columns: 1fr 1fr 1fr  ;
  }
}

@media (min-width: 890px) {
  .second-image-section {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }
}

@media (min-width: 1000px) {
  .second-image-section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }
}

@media (max-width: 752px) {
  .second-image-section {
    grid-template-columns: 1fr 1fr ;
  }
  }
 
.second-image-section1 {
  display: inline-block;
  margin-right: 3.4em;
  background-color: white;
  border-radius: 8px;
}

.image {
  width: 100%;
}

.browse-see {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  flex :auto;
}
.browse-hostel {
  font-family: Abel;
  font-size: 32px;
  margin-left: 3.44em;
  margin-top: 1.875em;
}
.see-all2 {
  margin-top: 60px;
  margin-right: 180px;
  font-family: inter, Arial;
  font-size: 20px;
  color: #1E96FC;
  cursor: pointer;
}

.third-image-section {
  margin-left: 110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 750px) {
  .third-image-section {
    grid-template-columns: 1fr;
    
  }
  }

  @media (min-width: 751px) and (max-width:999px) {
    .third-image-section {
      grid-template-columns: 1fr 1fr ;
    }
  }

  @media (min-width: 1000px) {
    .third-image-section {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.third-image-section1 {
  background-color: white;
  display: inline-block;
  margin-right: 60px;
  border-radius: 6px;
}

.apartments-price {
display: flex;
justify-content: space-between;
}

.apartments-image {
  width: 480px;
}

.apartments-image1 {
  width: 343px;
}

.apartments {
  font-family: Inter, Arial;
  font-size: 20px;
  color: #000;
  font-weight: bold;
  margin-left: 8px;
}

.price2 {
  font-family: Inter, Arial;
  font-size: 12px;
  margin-top: 26px;
}

.be-the-first-section {
  background-color: #1E96FC;
  margin-top: 60px;
}

@media screen  and (max-width: 620px) {
  .be-the-first-section {
    width: 100%;
  }
}



.be-the-first-text {
  font-family: Abel;
  font-size: 2vw;
  color: #fff;
  margin-left: 500px;
  margin-top: 100px;

}

.input-email {
  margin-left: 500px;
  padding: 15px;
  padding-right: 200px;
  font-size: 15px;
  border: 1px solid gray ;
  border-radius: 8px;
}

 @media (max-width: 752px) {
  .featured-locations, .see-all,
   .see-all2, .browse-see, .featured-see {
   margin-right: 2em ;
 }
 }

 @media (max-width: 752px) {
  .featured-locations, .second-image-section,
  .browse-hostel, .third-image-section {
  margin-left: 0.8em;
}
}

@media (max-width: 752px) {
  .second-image-section1 {
   margin-right: 1em;
}
}


@media (max-width: 752px) {
  .list-property-button2 {
    margin-left: 6.25em ;
  }
  }

@media (max-width: 752px) {
  .unlock-button, .input-email, .be-the-first-text,
  .search-bar, .search-location-button {
  margin-left: 0.8em ;
}
}

@media (max-width: 752px) {
  .third-image-section1 {
   margin-right: 0;
}
}
